.audio table {
  width: 100%;
}
.audio td {
  vertical-align: top;
  padding: 2px;
}
.audio .play {
  cursor: pointer;
  width: 20px;
  height: 17px;
  background: url(../images/play.gif) no-repeat 0px 0px;
}
.audio .info {
  width: 100%;
}
.audio .duration {
  color: #777;
  font-size: 10px;
  padding-top: 4px;
}
.audio .player_wrap {
  height: 14px;
  margin-left: 28px;
  padding-top: 3px;
}
.audio .playline {
  padding-top: 5px;
}
.audio .playline div {
  border-top: 1px dashed #D8DFEA;
  height: 9px;
}
.audio .player {
  display: none;
  height: 14px;
}
.add_audio_plus {
  background: #C4D2E1 url(../images/icons/plus_icon3.gif) no-repeat;
  height: 17px;
  width: 16px;
  cursor: pointer;
  margin-top: -2px;
}
.add_audio_plus.done {
  background-position: 0 -17px;
  background-color: #6B8DB1;
  cursor: default;
}

#box_layer .video .wrap {
  position: relative;
}
#box_layer .video div {
  position: relative;
  z-index: 1011;
}
#box_layer .video .background {
  position: absolute;
  z-index: 1010;
}
#box_layer .video .description {
  padding-top: 10px;
}
#box_layer .video .no_flash_wrap {
  padding-top: 160px;
}
#box_layer .video .no_flash {
  margin: auto;
  width: 320px;
  padding: 10px;
  background: #FFF;
  border: 1px solid #CCC;
  position: relative;
  z-index: 1015;
}
#box_layer .flash_needed .button_yes {
  margin: 15px auto 0px;
  width: 150px;
}
#box_layer .flash_needed .button_yes div {
  padding: 6px;
}

#quick_login {
  width: 124px;
}
#quick_login .text {
  width: 115px;
}
#quick_login .submit {
  position: absolute;
  color: #FFF;
  border: 0;
  padding: 0;
  margin: 0;
  background: #FFF;
  left: -8000px;
  top: -8000px;
}
#quick_login .label {
  color: #666;
  padding-bottom: 4px;
}
#quick_login .labeled {
  padding-bottom: 7px;
}
#quick_login .checkbox {
  margin-bottom: 7px;
  display: none;
}
#quick_login .forgot {
  padding-top: 5px;
  text-align: center;
}

.error, .info_msg {
  background: #FFEFE8;
  border: 1px solid #E89B88;
  padding: 8px 11px;
  text-align: justify;
}
.info_msg {
  background: #F6F7F9;
  border: 1px solid #DBE0EA;
}
.msg {
  padding: 8px 11px;
  background-color: #F9F6E7;
  border: 1px solid #D4BC4C;
}
.box_msg {
  padding: 8px 11px;
  margin: 0px;
  font-weight: bold;
  background-color: #F9F6E7;
  border: 1px solid #D4BC4C;
}


#system_msg {
  z-index: 5000;
  left: 0px;
  top: 0px;
  display: none;
  -moz-border-radius: 0px 0px 6px;
  border-radius: 0px 0px 6px;
  padding: 7px 10px;
}

#bad_browser {
  border-bottom: 1px solid #B8C7D3;
  background-color: #F2F4FF;
}
#bad_browser .info {
  padding: 8px;
  text-align: center;
  line-height: 150%;
}
#bad_browser #good_browsers {
  display: none;
}
#bad_browser #good_browsers div {
  width: 400px;
  height: 100px;
  margin: 10px auto 0px;
}
#bad_browser #good_browsers a {
  width: 100px;
  height: 20px;
  padding-top: 80px;
}

/* qsearch section */
.quick_search {
  display: inline;
  margin: 10px 14px 0 0;
  position: relative;
  width: 100px;
}
.quick_search #qinput {
  background: #FFFFFF;
  border: 1px solid #2B587A;
  border-right: 1px solid #265581;
  color:#777777;
  font-size:11px;
  height:13px;
  outline: none;
  padding: 3px 3px 3px 11px;
  position: absolute;
  right: -1px;
  width: 85px;
}
#search_ext_cont {
  display: none;
  width: 100px;
  overflow: hidden;
  overflow-y: visible;
  right: 0px;
  position: absolute;
}
#search_cont {
  background-color: #FFFFFF;
  width: 615px;
  border: 1px solid #2B587A;
  border-right: none;
  height: 19px;
  position: relative;
}
#search_input, #search_menu_header {
  border: 0px none white;
  font-size: 11px;
  height: 13px;
  outline: none;
  overflow: hidden;
  padding: 3px 0px 3px 10px;
}
#search_input {
  width: 455px;
}
/* Search Button */
#search_button_cont {
  display: none;
}
/* Search Menu */
#search_menu_header {
  display: block;
  height: 13px;
  padding: 2px 4px 4px 0px;
  text-align: right;
  color: #777;
}
#search_menu {
  position: absolute;
  background-color: #fff;
  right: -1px;
  border-left: 1px solid #265581;
  border-right: 1px solid #265581;
  top: 19px;
  z-index: 1000;
  display: none;
}
#search_a_menu {
  position: relative;
  height: 18px;
  width: 150px;
  float: left;
  outline: none;
  text-decoration: none;
  display: block;
}
#search_a_menu:hover #search_darr, #search_a_menu.hover #search_darr {
  background: #fff url("../images/darr.gif") no-repeat left -22px;
}
#search_a_menu.hover #search_menu_header {
  color: #000;
}
#search_darr {
  height: 13px;
  background: #fff url("../images/darr.gif") no-repeat left 4px;
  padding: 3px 0px;
  display: block;
  width: 15px;
  cursor: pointer;
}
#search_menu a {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2px 0px 4px 0px;
  text-align: right;
  display: block;
  text-decoration: none;
  outline: none;
  color: #000;
  width: 100%;
}
#search_menu a span {
  padding: 0px 22px 0px 22px;
}
#search_menu a.selected,
#search_menu a.selected_last {
  border-top: 1px solid #CCD5DD;
  border-bottom: 1px solid #CCD5DD;
  background-color: #E1E8ED;
  color: #000;
  cursor: default;
}
div.search_shadow1,
div.search_shadow2,
div.search_shadow_left,
div.search_shadow_right1,
div.search_shadow_right2 {
  position: absolute;
  width: 100%;
  padding-left: 3px;
  margin-left: -1px;
  z-index: 1000;
  background-color: #000;
  height: 1px;
  overflow: hidden;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
div.search_shadow_left, div.search_shadow_right1, div.search_shadow_right2 {
  height: 100%;
  width: 1px;
  padding: 0px;
  margin: 0px;
  right: -2px;
  padding-top: 20px;
  top: -20px;
}
div.search_shadow_left {
  right: auto;
  padding: 0px;
  top: auto;
  left: -2px;
  opacity: 0.05;
  filter: alpha(opacity=5);
}
div.search_shadow_right2 {
  right: -3px;
  opacity: 0.05;
  filter: alpha(opacity=5);
}

div.search_shadow_right {
  right: -3px;
  top: auto;
  opacity: 0.05;
  filter: alpha(opacity=5);
}

div.search_shadow2 {
  margin-top: 1px;
  opacity: 0.05;
  filter: alpha(opacity=5);
}
#search_menu a.last {
  border-bottom: 1px solid #265581;
}
#search_menu a.selected_last, #search_menu a.selected_last:hover {
  border-bottom: 1px solid #839EB7;
}
#search_menu a.hover {
  border-top: 1px solid #265581;
  border-bottom: 1px solid #265581;
  background-color: #587DA1;
  color: #fff;
}
#search_main_cont {
  position: relative;
}
#search_sub_menu {
  border: 1px solid #2B587A;
  border-top: none;
  display: none;
  left: -1px;
  margin-top: -1px;
  position: absolute;
  top: 20px;
  z-index: 400;
}
#search_sub_menu .recent_fr {
  background-color: #E1E8ED;
  border-top: 1px solid #2B587A;
  opacity: 0.96;
  padding: 4px 6px;
}
#search_sub_menu .recent_table {
  background-color: white;
  margin: 0px;
  opacity: 0.96;
  padding: 0px;
  width: 456px;
}

#quick_search div.s_photo {
  width: 25px;
  height: 25px;
  overflow: hidden;
  margin: 1px 10px 0px 0px;
  line-height: 22px;
}
#quick_search div.s_photo img {
  width: 25px;
  vertical-align: middle;
}
#quick_search div.s_title {
  margin-top: 7px;
  cursor: pointer;
  height: 14px;
  width: 180px;
  overflow: hidden;
}
#quick_search div.s_title.s_wide{
  margin: 0px;
  height: 26px;
}
#quick_search .s_down_text {    
  display: block;
  float: right;
  margin-top: 6px;
  cursor: pointer;
  outline: none;
}
.s_down_text:hover {
 text-decoration: underline;
}

#quick_search div.s_title div, #quick_search .s_down_text {
  display: block;
  color: #999;
  font-size: 10px;
}

#quick_search div.s_title span,
#quick_search div.s_wide_title span {
  background-color: #DAE2E8;
}
#search_sub_menu div.sub_item_over div.s_title span, #search_sub_menu div.sub_item_over div.s_wide_title span {
  background-color: #2A5883;
}
#search_sub_menu a.sub_item:hover, #search_sub_menu a.sub_item_over:hover, #search_sub_menu a.sub_item_next_over:hover {
  text-decoration: none;
}
#quick_search .s_right_text {
  display: block;
  margin: 6px 0px 0px 0px;
  cursor: pointer;
  color: #2B587A;
  outline: none;
}
#quick_search .s_right_text.over {
  text-decoration: underline;
}
#quick_search .sub_item.over .s_right_text,
#quick_search .p_over .s_down_text,
#quick_search .p_over .s_title div {
  color: #FFFFFF;
}
#quick_search .s_down_text {
  float: left;  
  margin: 0px;
  cursor: pointer; 
  overflow: hidden;
  color: #2B587A;
  display: block;
}


#quick_search .s_label {
  margin-top: 6px;
  outline: none;
  color: #999999;
}

#search_sub_menu .p_item {
  display: block;
  cursor: pointer;
  width: 220px;
  height: 33px;
  background-color:#fff;
  border:0px;
  border-top: 1px solid #CCD3DA;
  border-right: 1px solid #CCD3DA;
  padding: 6px 0px 0px 7px;
}

#search_sub_menu .p_item.p_right {
  width: 221px;
  border-right: 0;
}

#search_sub_menu .p_item.p_over {
  background-color: #587DA1;
  border-color: #2A5883;
  display: block;
  text-decoration: none;
}
#search_sub_menu .s_title.s_wide {
  color: #000000;
}
#search_sub_menu .s_title.s_wide div {
  color: #999999;
}

#search_sub_menu .p_item.p_over .s_title,
#search_sub_menu .p_item.p_over .s_title div {
  color: #FFFFFF;
}
#search_sub_menu .sub_item {
  background-color: #FFFFFF;
  border-top: 1px solid #E1E9EF;
  color: #000000;
  display: block;
  padding: 4px 12px 4px 6px;
}
#search_sub_menu a.sub_item {
  border-bottom: 1px solid #FFFFFF;
  height: 27px;
  padding: 4px 12px 4px 12px;
  opacity: 0.96;
}
#search_sub_menu a.sub_item.over {
  background-color: #587DA1;
  border-top: 1px solid #2A5883;
  border-bottom: 1px solid #2A5883;
  text-decoration: none;
}
#search_sub_menu .s_search_by {
  font-weight: bold;
  border-bottom: 1px solid #F7F7F7;
  background-color:#F7F7F7;
}
#search_sub_menu .s_search_by .s_title {
  color: #2B587A;
}
#search_sub_menu .sub_item.s_search_by.over {
  border-bottom: 1px solid #587DA1;
}
#search_sub_menu .sub_item.over .s_title,
#search_sub_menu .sub_item.over .s_title div {
  color: #FFFFFF;
}
#search_sub_menu .sub_item.over .s_title span {
  background-color: #2A5883;
}
#search_sub_menu .autocompletion {
  display: none;
}
#quick_search .sub_item .s_search_icon {
  background:url("../images/search_small.gif") repeat scroll 0 0 transparent;
  height:11px;
  margin-top:8px;
  overflow:hidden;
  width:11px;
}
#quick_search .sub_item.over .s_search_icon {
  background-position: 0 11px;
}

.tabs {
  background: #F7F7F7;
  padding: 8px;
}
.tabs .outer {
  
}
.tabs .tab a {
  display: inline-block;
}
.tabs .tab a:hover {
  text-decoration: none;
}
.tabs .tab {
  display: inline-block;
  margin-right: 12px;
  padding: 2px;
}
.tabs .tab.selected {
  border-bottom: 1px solid #FFFFFF;
  padding: 0px;
}
.tabs .tab b {
  padding: 2px 5px 2px 5px;
  display: inline-block;
}
.tabs .tab.selected a {
  border-top: 1px solid #395676;
  border-right: 1px solid #3b6798;
  border-bottom: 1px solid #4a73a0;
  border-left: 1px solid #3b6798;
  color: #FFFFFF;
}
.tabs .tab.selected b {
  border: 1px solid #5C82AB;
  background: #6D8FB3;
}

.no_select {
  user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -khtml-user-select: none;
}
.select_fix {
  user-select: text;
 -o-user-select: text;
 -moz-user-select: text;
 -khtml-user-select: text;
}
.input_back {
  position:absolute;
  color:#777;
  background-color:#FFF;
  z-index:100;
}
.choose_box .input_back {
  margin: 9px 4px 0px;
}

.input_back div {
  padding:4px 5px 0;
  white-space: nowrap;
}

.sort_blank {
  border: 1px dashed #D8DFEA;
}

.divider {
 color: #777;
 font-weight: normal;
 padding:0px 5px;
}

small.divider {
 padding:0px 2px;
}

/* ad style*/
.ad_box {
  background: #F7F7F7;
  border: 1px solid #C0CAD5;
  border-width: 1px 0px;
  padding-bottom: 10px;
  width: 118px;
  overflow: hidden;
  text-align: center;
  display: block;
}
.ad_title {
  font-weight: bold;
  font-size: 11px;
  margin: 0px 3px;
  color: #36638E;
  padding-top: 8px;
  text-align: center;
}
.ad_box img {
  padding-top: 8px
}
.ad_desc {
  padding-top: 8px;
  margin: 0px 2px;
}
a.ad_box:hover {
  text-decoration: none;
}
a.ad_box .ad_desc {
  color: #000;
}
.ad_box.ad_friend {
  border-bottom-width: 0px;
  padding-bottom: 0px;
}
.ad_friend .ad_body {
  height: 75px;
  width: 118px;
  overflow: hidden;
  text-align: center;
}
.ad_friend .ad_body img {
  width: 63%;
}
.ad_box.ad_friends {
  border-top-width: 0px;
  padding-top: 12px;
}
.ad_help_link {
  margin-top: 3px;
  font-size: 10px;
  text-align: center;
}
.ad_complain {
  padding-top: 8px;
  font-size: 10px;
  text-align: center;
}
.ad_complain span {
  color: #2B587A;
}
.ad_complain span:hover {
  text-decoration: underline;
}

#ads_play_btn {
  position: absolute;
  top: 46px;
  left: 36px;
  width: 46px;
  height: 46px;
  background: url("../images/ad_video_play.png") no-repeat scroll 0 0 transparent;
}

.ad_box_new {
 background: #FFFFFF;
 border: 1px solid #DCE3E9;
 border-width: 1px 0px;
 padding: 0px 0px 11px 0px;
 margin: 0px;
 width: 118px;
 overflow: hidden;
 text-align: center;
 display: block;
}

.ad_title_new {
  font-weight: bold;
  font-size: 11px;
  margin: 0px 3px;
  margin-top: 6px;
  color: #36638E;
  text-align: center
}
.ad_domain_new {
  margin-top: 3px;
  font-size: 10px;
  color: #909090;
}
.ad_box_new img {
  margin-top: 9px
}
.ad_desc_new {
  margin: 0px 2px;
  margin-top: 10px;
  color: #000000;
}
.ad_disclaimer_new {
  color: #777777;
  font-size: 9px;
  margin: 10px 0px 0px;
  line-height: 11px;
}

a.ad_box_new:hover {
  text-decoration: none;
}

.ad_box_new .left_hide_new {
  position: absolute;
  margin: 4px 0px 0px 117px;
  width: 18px;
  height: 18px;
  background: url(../images/hide_left.gif) no-repeat center center;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

.ad_hide_mask_new {
  background-color: #F7F7F7;
  position: absolute;
  z-index: 5;

  display: none;
  opacity: 0;
  filter: alpha(opacity=0);

  border: 1px solid #DCE3E9;
  border-width: 1px 0px;
  padding: 0px;
  margin: 0px;
  width: 118px;
  overflow: hidden;
  text-align: center;
}

.ad_info_new {
  color: #808080;
  font-size: 10px;
}
.ad_complain_new {
  margin-top: 10px;

  color: #808080;
  font-size: 10px;
}
.ad_complain_info_new {
  color: #808080;
  font-size: 10px;
}
.ad_complain_link_new {
  color: #2B587A;
  font-size: 10px;
  text-decoration: none;
}
.ad_complain_link_new:hover {
  text-decoration: underline;
  cursor: pointer;
}